* {
    -fx-primary : #B4C1CC;
    -fx-yellow: #FAAB1A;
    -fx-light-gray: #B4C1CC;
    -fx-dark-gray: #344955;
    -fx-primary-text: WHITE;
    -fx-black: #17262A;
    -fx-light-pink: #FFF0E8;
    -fx-dark-pink: #FEDBD0;
    -fx-light-black: #424250;
    -fx-dark-black: #373741;
    -fx-light-green: #1EB980;
    -fx-dark-green: #005D57;
    -fx-blue: #5264AE;
    -fx-dark-blue: #2979FF;

    /* Found this style in eenadu.net login page */
    -fx-light-white-gray: #F2F2F2;
    -fx-dark-white-gray: #D9D9D9;
    -fx-dark-green: #138496;
    -fx-light-green: #D4EDDA;
    -fx-light-white: #F0FFFF;
}

.root{
    -fx-background-color: -fx-dark-white-gray;
}

.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 15px;
}

.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-button-type: RAISED;
    -fx-background-color: -fx-dark-green;
    -fx-pref-width: 200;
    -fx-text-fill: -fx-light-white;
    -fx-min-width: 200;
    -fx-font-smoothing-type: gray;
    -fx-border-radius: 10 10 0 0;
    /* -fx-effect:dropshadow(gaussian, #B4C1CC, 0.0, 0.0, 2.0, 2.0);*/
}

.button-raised: hover {
    -fx-background-color: -fx-dark-black;
}

.label {
    -fx-font-family: "sans-serif";
    -fx-font-smoothing-type: gray;
    -fx-font-weight: normal;
    -fx-text-fill: -fx-dark-green;
    -fx-font-size : 10pt;
    -fx-focus-color: -fx-primary-text;
}

.header-label {
    -fx-font-family: "cursive";
    -fx-font-smoothing-type: gray;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-green;
    -fx-font-size : 25pt;
    -fx-focus-color: -fx-primary-text;
}

.text-field {
/*
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;*/
    -fx-font-family: "monospace";
    -fx-font-size: 12pt;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.check-box {
    -fx-font-weight: BOLD;
    -fx-text-fill: WHITE;
}

.check-box: hover {
    -fx-font-weight: BOLD;
    -fx-text-fill: -fx-dark-green;
}

.text-class {
    -fx-font-family: "serif";
    -fx-text-fill: -fx-yellow;
    -fx-font-size: 40pt;
}

.hbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-fill-height: true;
}

.vbox {
    -fx-spacing: 40px;
    -fx-alignment: center;
    -fx-fill-height: true;
}

.choice-box-item {
    -fx-font-family: "sans-serif";
    -fx-font-smoothing-type: gray;
    -fx-text-fill: -fx-primary-text;
    -fx-font-size : 12pt;
    -fx-focus-color: -fx-dark-pink;

}

/*
 * Tree Table
 */

.table-cell {
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-text-overrun:  leading-ellipsis;
    -fx-wrap-text: true;
    -fx-content-display: left;
    -fx-text-fill: -fx-dark-green;
    -fx-font-family: "monospace";
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    /*-fx-font-style: italic; */
    /*-fx-effect: dropshadow( gaussian , rgba(34,25,5,0.5) , 0,0,0,1 ); */
    -fx-background-color: WHITE;
    -fx-padding: 3 3 3 3;
}

.table-cell: hover {
    -fx-background-color: -fx-light-pink;
}

.table-cell:selected {
    -fx-background-color: BLACK;
}

.table-row-cell: odd{
    -fx-background-color:-fx-light-gray;
}

.table-row-cell: even {
    -fx-background-color: -fx-light-pink;
}

.table-row: odd {
  -fx-background-color:lightblue;
}

.tree-table-view {
    -fx-tree-table-color: rgba(82, 100, 174, 0.4);
    -fx-tree-table-rippler-color: rgba(82, 100, 174, 0.6);
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
    -fx-text-fill: BLACK;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: BLACK;
}

.tree-table-view .fx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}


.tree-table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}


.tree-table-view .column-header .label {
    -fx-text-fill: #949494;
    -fx-padding: 16 0 16 0;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 0 16 0;
    -fx-alignment: top-center;
}

.tree-table-view .column-overlay {
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header {
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em;
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-table-row-cell .jfx-text-field {
    -fx-focus-color: rgba(82, 100, 174);
}

.tree-table-row-cell .jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.tree-table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.tree-table-row-cell .jfx-text-field .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.tree-table-row-cell:grouped {
    -fx-background-color: rgb(230, 230, 230);
}

.tree-table-view .menu-item:focused {
    -fx-background-color: -fx-tree-table-color;

}

.tree-table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}