* {
    -fx-primary : #B4C1CC;
    -fx-yellow: #FAAB1A;
    -fx-light-gray: #B4C1CC;
    -fx-dark-gray: #344955;
    -fx-primary-text: WHITE;
    -fx-black: #17262A;
    -fx-light-pink: #FFF0E8;
    -fx-dark-pink: #FEDBD0;
    -fx-light-black: #424250;
    -fx-dark-black: #373741;
    -fx-light-green: #1EB980;
    -fx-dark-green: #005D57;
    -fx-blue: #5264AE;
    -fx-dark-blue: #2979FF;
    -fx-pure-black: #000000;
    -fx-google-blue: #065FD4;

    /* Found this style in eenadu.net login page */
    -fx-light-white-gray: #F2F2F2;
    -fx-dark-white-gray: #D9D9D9;
    -fx-dark-green: #138496;
    -fx-light-green: #D4EDDA;
    -fx-light-white: #F0FFFF;

    /* Soumya's purple color */
    -fx-soumya-purple: #7D2996;

    /* Library Assistant */
    -fx-lib-primarytext : #B2B2B2;
    -fx-lib-primary : #2A2E37;
}

.root{
    -fx-background-color: -fx-dark-white-gray;
}

.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 15px;
}

.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-button-type: RAISED;
    -fx-background-color: -fx-google-blue;
    -fx-pref-width: 200;
    -fx-text-fill: white;
    -fx-min-width: 200;
    -fx-font-smoothing-type: gray;
    -fx-border-radius: 10 10 0 0;
    /* -fx-effect:dropshadow(gaussian, #B4C1CC, 0.0, 0.0, 2.0, 2.0);*/
}

.button-raised: hover {
    -fx-background-color: -fx-dark-black;
}

.label {
    -fx-font-family: "sans-serif";
    -fx-font-smoothing-type: gray;
    -fx-font-weight: normal;
    -fx-text-fill: -fx-dark-green;
    -fx-font-size : 10pt;
    -fx-focus-color: -fx-primary-text;
}

.header-label {
    -fx-font-family: "cursive";
    -fx-font-smoothing-type: gray;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-green;
    -fx-font-size : 25pt;
    -fx-focus-color: -fx-primary-text;
}

.text-field {
/*
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;*/
    -fx-font-family: "consolas";
    -fx-font-size: 12pt;
    -fx-text-fill: -fx-dark-green;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.status-bar {
    -fx-font-family: "consolas";
    -fx-font-size: 10pt;
}

.result-area-like-unix {
    -fx-font-family: "consolas";
    -fx-font-size: 10pt;
    -fx-control-inner-background:#000000;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
}

.result-area {
    -fx-font-family: "consolas";
    -fx-font-size: 10pt;
    -fx-highlight-fill: WHITE;
    -fx-highlight-text-fill: -fx-pure-black;
    -fx-control-inner-background: -fx-pure-black;
    -fx-text-fill: -fx-yellow;
}

/*
.text-area {
    text-area-background: -fx-black;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

.text-area {
    -fx-background-color: -fx-black;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
*/

/* Scroll bar changes */
/* Source - https://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/ */
.scroll-pane {
	-fx-border-color:derive(gray,80%);
}

/* The main scrollbar CSS class of ListView */
.scroll-pane .scroll-bar:horizontal ,
.scroll-pane  .scroll-bar:vertical{
    -fx-background-color:transparent;
 }

/* The increment and decrement button CSS class of scrollbar */
.scroll-pane .increment-button ,.scroll-pane .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:derive(gray,80%);
}

/* The main scrollbar **track** CSS class  */
.scroll-pane .scroll-bar:horizontal .track ,
.scroll-pane .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(gray,80%);
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.scroll-pane .scroll-bar:horizontal:hover .track ,
.scroll-pane .scroll-bar:horizontal:pressed .track ,
.scroll-pane .scroll-bar:vertical:hover .track,
.scroll-pane .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(-fx-blue,20%);
	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scroll-pane .scroll-bar .thumb:hover,
.scroll-pane .scroll-bar .thumb:pressed{
    -fx-background-color: derive(-fx-blue,50%);
}

.scroll-pane .increment-button:hover ,.scroll-pane .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
	-fx-border-color:derive(-fx-blue,80%);
	-fx-padding: 5px;
}

/* To fill the area not occupied by Scroll Pane */
.scroll-pane .viewport {
  -fx-background-color: -fx-light-black ;
}