* {
    -fx-primary : #B4C1CC;
    -fx-yellow: #FAAB1A;
    -fx-light-gray: #B4C1CC;
    -fx-dark-gray: #344955;
    -fx-primary-text: WHITE;
    -fx-black: #17262A;
    -fx-light-pink: #FFF0E8;
    -fx-dark-pink: #FEDBD0;
    -fx-light-black: #424250;
    -fx-dark-black: #373741;
    -fx-light-green: #1EB980;
    -fx-dark-green: #005D57;
    -fx-blue: #5264AE;
    -fx-dark-blue: #2979FF;
    -fx-pure-black: #000000;
    -fx-google-blue: #065FD4;

    /* Found this style in eenadu.net login page */
    -fx-light-white-gray: #F2F2F2;
    -fx-dark-white-gray: #D9D9D9;
    -fx-dark-green: #138496;
    -fx-light-green: #D4EDDA;
    -fx-light-white: #F0FFFF;

    /* Soumya's purple color */
    -fx-soumya-purple: #7D2996;

    /* Library Assistant */
    -fx-lib-primarytext : #B2B2B2;
    -fx-lib-primary : #2A2E37;
}

.root {
    -fx-background-color: -fx-light-black;
}

.tile-button {
    -fx-padding: 10 10 10 10;
    -fx-font-size: 15px;
    -fx-background-color: -fx-google-blue;
    -fx-pref-width: 150;
    -fx-text-fill: -fx-pure-black;
}

.tile-button:hover {
    -fx-background-color: -fx-light-green;
}

.tile-label {
    -fx-font-family: "consolas";
    -fx-font-smoothing-type: gray;
    -fx-font-weight: normal;
    -fx-text-fill: -fx-dark-green;
    -fx-font-size : 15pt;
    -fx-focus-color: -fx-primary-text;
}

.tile-box {
    -fx-pref-width: 250;
    -fx-pref-height: 250;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-spacing: 30pt;
    -fx-border-color: -fx-light-black;
    -fx-border-width: 1px;
    -fx-background-radius: 15.0;
    -fx-background-color: -fx-dark-black;
}

.progress-indicator {
    -fx-progress-color: -fx-soumya-purple;
    -fx-pref-width: 75;
    -fx-pref-height: 75;
}